<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
 <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
   <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
</head>
<body>
 <div class="container">
		<h1>Matrix Generator</h1>
		
				<form th:action="@{/matrixgenerator}" method="post" th:object="${numbers}">
					<div class="form-row">
						<div class="form-group col-md-12">
							<div class="form-group">
								<label >Column Number</label>
								<input  class="form-control"  th:field="*{row_number}" />
							</div>
							<div class="form-group">
								<label >Row Number</label>
								<input  class="form-control"  th:field="*{column_number}" />
							</div>
					
							
							<div class="form-group">
							<button class="btn btn-primary" id="userFormButton"
								type="submit">
								<i class="fa  fa-plus-square"></i>Generate
							</button>
								
							
							</div>
						</div>
					</div>
				</form>
			</div>
	 
     <div class="container">
 	<div>
		<table  class="table " border="3"  class"table table-striped">
			<tr th:each="values :${array}">
				<th:block th:each="val :${values}">
							<td th:text="*{val}"></td>
				</th:block>
		   </tr>

</table>
 </div>
</div>
</body>
</html>
